$black: #000;
$primary: #000;
$background: #101511;
$dark-gray: #222;
$link-gray: #555;
$gray: #888;
$secondary-background: #909591;
$text-gray: #dfdddf;
$light-gray: #ccc;
$white: #fff;

* {
  font-family: 'Arial', serif;
  color: $text-gray;
  box-sizing: border-box;
}

html {
  display: block;
  height: 100%;
  width: 100%;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  background: $black url('../images/mbbg.png') no-repeat center top;
  background-size: 100% auto;

  > #wpadminbar {
    bottom: 0;
    top: auto;
  }
}

a {
  $link-color: $link-gray;
  $link-hover-color: $link-gray - 20;
  $link-active-color: $link-gray - 40;

  color: $link-color;
  text-decoration: none;
  border-bottom: 1px solid $link-color;

  &:hover {
    color: $link-hover-color;
    border-color: $link-hover-color;
  }

  &:active {
    color: $link-active-color;
    border-color: $link-active-color;
  }
}

#header,
#content,
#footer,
#navigation {
  position: relative;
  width: auto;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1.5em 2em;

  @media (max-width: 1000px) {
    margin-left: 50px;
    margin-right: 50px;
  }
}

#header {
  margin-top: 30px;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;

  > h1 {
    margin: 0;
    font-size: 2em;

    > #site-logo {
      font-weight: 300;
      border: none;
      color: $white;
    }
  }
}

#contact {
  position: absolute;
  top: -30px;
  right: 0;
  padding: .5em 1em;
  background-color: $dark-gray;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;

  span { padding-right: .5em; }

  a {
    padding: 0 .25em;
    border-bottom: none;
  }
}

#navigation {
  $nav-background-color:  $dark-gray;
  $nav-border-color:      $dark-gray - 10;
  $nav-font-color:        $light-gray;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: $nav-background-color;
  padding: 0;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  overflow: hidden;

  li {
    display: block;
    width: 100%;
    list-style: none;
    border: 1px solid $nav-border-color;

    &.current_page_item a { background: $nav-background-color + 20; }

    a {
      display: block;
      padding: .5em 0;
      background: $nav-background-color;
      color: $nav-font-color;
      font-size: 1.25em;
      text-align: center;

      &:hover,
      &:visited { color: $nav-font-color }
    }

    &:hover a { background: $nav-background-color - 10 }
  }
}

> .page_item {
  display: block;
  list-style: none;

  > a { border: none }
}


#content {
  background-color: $dark-gray;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;

  > .post {
    padding: .5em 0;

    &:not(:first-of-type) { border-top: 1px solid $gray }
    &:not(:last-of-type)  { border-bottom: 1px solid $gray }

    > h2 {
      margin: 0;

      &,
      > a {
        border: none;
        color: $light-gray;
      }
    }

    > h5 {
      font-weight: 300;
      margin: .5em 0;

      > a { border: none }
    }

    .title { margin-bottom: 1em; }

    .nocomments,
    .details { display: none}
  }

  > #archives-page {
    h2 {
      margin: .1em 0;
      font-size: 1em;
    }

    #category-archives, #monthly-archives { margin-bottom: 1em }

    li { list-style: none }
    a { border: none }
  }
}


#respond {
  padding: .5em 1.5em;
  font-size: .7em;
  border: 1px solid $light-gray;
  background-color: $light-gray + 17;

  > form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;

    .comment-notes { flex-basis: 100% }
    .comment-form-comment {
      flex-basis: 100%;

      > label,
      > textarea {
        vertical-align: top;
        width: 100%;
      }

      > textarea {
        width: calc(100% - 6px);
        border-width: 1px;
        padding: 2px;
      }
    }

    .comment-form-author,
    .comment-form-email,
    .comment-form-url {
      flex-basis: 30%;

      > label,
      > input {
        width: 100%;  // Fallback if browser doesn't support calc
        width: calc(100% - 8px);
        padding: 2px;
        border-width: 2px;
      }
    }
  }
}

.commentlist {
  border: 1px solid $light-gray;
  background: $light-gray + 17;
  list-style: none;

  li, ol { list-style: none }

  .comment {
    margin: 1em 0;

    > .comment-body {
      padding-right: 1em;

      > .comment-author {
        > img {
          width: 1.5em;
          height: 1.5em;
          vertical-align: middle;
          border-radius: 50%;
        }
      }

      > .comment-awaiting-moderation { float: right }
    }
  }
}

#footer {
  text-align: center;
  color: $white;

  a { color: $white; }
}

.wpsisac-slick-slider {
  button.slick-arrow { background-color: transparent !important; }
  .slick-image-slide img { width: 100%; }
}

.ngg-album-desc { color: $white; }
.slideshowlink { display: none; }