* {
  font-family: 'Arial', serif;
  color: #dfdddf;
  box-sizing: border-box; }

html {
  display: block;
  height: 100%;
  width: 100%; }

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  background: #000 url("../images/mbbg.png") no-repeat center top;
  background-size: 100% auto; }
  body > #wpadminbar {
    bottom: 0;
    top: auto; }

a {
  color: #555;
  text-decoration: none;
  border-bottom: 1px solid #555; }
  a:hover {
    color: #414141;
    border-color: #414141; }
  a:active {
    color: #2d2d2d;
    border-color: #2d2d2d; }

#header,
#content,
#footer,
#navigation {
  position: relative;
  width: auto;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1.5em 2em; }
  @media (max-width: 1000px) {
    #header,
    #content,
    #footer,
    #navigation {
      margin-left: 50px;
      margin-right: 50px; } }

#header {
  margin-top: 30px;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em; }
  #header > h1 {
    margin: 0;
    font-size: 2em; }
    #header > h1 > #site-logo {
      font-weight: 300;
      border: none;
      color: #fff; }

#contact {
  position: absolute;
  top: -30px;
  right: 0;
  padding: .5em 1em;
  background-color: #222;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em; }
  #contact span {
    padding-right: .5em; }
  #contact a {
    padding: 0 .25em;
    border-bottom: none; }

#navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: #222;
  padding: 0;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  overflow: hidden; }
  #navigation li {
    display: block;
    width: 100%;
    list-style: none;
    border: 1px solid #181818; }
    #navigation li.current_page_item a {
      background: #363636; }
    #navigation li a {
      display: block;
      padding: .5em 0;
      background: #222;
      color: #ccc;
      font-size: 1.25em;
      text-align: center; }
      #navigation li a:hover, #navigation li a:visited {
        color: #ccc; }
    #navigation li:hover a {
      background: #181818; }

> .page_item {
  display: block;
  list-style: none; }
  > .page_item > a {
    border: none; }

#content {
  background-color: #222;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em; }
  #content > .post {
    padding: .5em 0; }
    #content > .post:not(:first-of-type) {
      border-top: 1px solid #888; }
    #content > .post:not(:last-of-type) {
      border-bottom: 1px solid #888; }
    #content > .post > h2 {
      margin: 0; }
      #content > .post > h2,
      #content > .post > h2 > a {
        border: none;
        color: #ccc; }
    #content > .post > h5 {
      font-weight: 300;
      margin: .5em 0; }
      #content > .post > h5 > a {
        border: none; }
    #content > .post .title {
      margin-bottom: 1em; }
    #content > .post .nocomments,
    #content > .post .details {
      display: none; }
  #content > #archives-page h2 {
    margin: .1em 0;
    font-size: 1em; }
  #content > #archives-page #category-archives, #content > #archives-page #monthly-archives {
    margin-bottom: 1em; }
  #content > #archives-page li {
    list-style: none; }
  #content > #archives-page a {
    border: none; }

#respond {
  padding: .5em 1.5em;
  font-size: .7em;
  border: 1px solid #ccc;
  background-color: #dddddd; }
  #respond > form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start; }
    #respond > form .comment-notes {
      flex-basis: 100%; }
    #respond > form .comment-form-comment {
      flex-basis: 100%; }
      #respond > form .comment-form-comment > label,
      #respond > form .comment-form-comment > textarea {
        vertical-align: top;
        width: 100%; }
      #respond > form .comment-form-comment > textarea {
        width: calc(100% - 6px);
        border-width: 1px;
        padding: 2px; }
    #respond > form .comment-form-author,
    #respond > form .comment-form-email,
    #respond > form .comment-form-url {
      flex-basis: 30%; }
      #respond > form .comment-form-author > label,
      #respond > form .comment-form-author > input,
      #respond > form .comment-form-email > label,
      #respond > form .comment-form-email > input,
      #respond > form .comment-form-url > label,
      #respond > form .comment-form-url > input {
        width: 100%;
        width: calc(100% - 8px);
        padding: 2px;
        border-width: 2px; }

.commentlist {
  border: 1px solid #ccc;
  background: #dddddd;
  list-style: none; }
  .commentlist li, .commentlist ol {
    list-style: none; }
  .commentlist .comment {
    margin: 1em 0; }
    .commentlist .comment > .comment-body {
      padding-right: 1em; }
      .commentlist .comment > .comment-body > .comment-author > img {
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        border-radius: 50%; }
      .commentlist .comment > .comment-body > .comment-awaiting-moderation {
        float: right; }

#footer {
  text-align: center;
  color: #fff; }
  #footer a {
    color: #fff; }

.wpsisac-slick-slider button.slick-arrow {
  background-color: transparent !important; }
.wpsisac-slick-slider .slick-image-slide img {
  width: 100%; }

.ngg-album-desc {
  color: #fff; }

.slideshowlink {
  display: none; }

.email-popup {
  display: none;
  position: absolute;
  top: 2em;
  padding: .5em;
  background-color: #222;
  border-radius: 3px; }
  .email-popup a {
    color: #fff;
    border-color: #fff; }

/*# sourceMappingURL=base.css.map */
