* {
  font-family: "Bitter", serif;
  color: #706f6e; }

body {
  margin: 5em 20em;
  background-color: #fefefc; }

a {
  color: #4c97b9;
  text-decoration: none;
  border-bottom: 1px solid #4c97b9; }
  a:hover {
    color: #3883a5;
    border-color: #3883a5; }
  a:active {
    color: #246f91;
    border-color: #246f91; }

#header {
  position: relative; }
  #header > h1 {
    margin: 0;
    font-size: 2em; }
    #header > h1 > a {
      border: none; }
      #header > h1 > a > .title-part-1 {
        font-weight: 300;
        color: #006924; }
      #header > h1 > a > .title-part-2 {
        font-weight: 800;
        color: #4c97b9; }

#navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em 0;
  border-top: 1px solid #706f6e;
  border-bottom: 1px solid #706f6e; }
  #navigation > .page_item {
    display: block;
    list-style: none; }
    #navigation > .page_item > a {
      border: none; }

#content {
  margin: 1.5em 0; }
  #content > .post {
    padding: 0.5em 0; }
    #content > .post:not(:first-of-type) {
      border-top: 1px solid #e9e8e6; }
    #content > .post:not(:last-of-type) {
      border-bottom: 1px solid #e9e8e6; }
    #content > .post > h2 {
      margin: 0; }
      #content > .post > h2 > a {
        border: none; }
    #content > .post > h5 {
      font-weight: 300;
      margin: 0.5em 0; }
      #content > .post > h5 > a {
        border: none; }
    #content > .post .nocomments {
      display: none; }
  #content > #archives-page h2 {
    margin: 0.1em 0;
    font-size: 1em; }
  #content > #archives-page #category-archives,
  #content > #archives-page #monthly-archives {
    margin-bottom: 1em; }
  #content > #archives-page li {
    list-style: none; }
  #content > #archives-page a {
    border: none; }

#respond {
  padding: 0.5em 1.5em;
  font-size: 0.7em;
  border: 1px solid #e9e8e6;
  background-color: #faf9f7; }
  #respond > form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start; }
    #respond > form .comment-notes {
      flex-basis: 100%; }
    #respond > form .comment-form-comment {
      flex-basis: 100%; }
      #respond > form .comment-form-comment > label,
      #respond > form .comment-form-comment > textarea {
        vertical-align: top;
        width: 100%; }
      #respond > form .comment-form-comment > textarea {
        width: calc(100% - 6px);
        border-width: 1px;
        padding: 2px; }
    #respond > form .comment-form-author,
    #respond > form .comment-form-email,
    #respond > form .comment-form-url {
      flex-basis: 30%; }
      #respond > form .comment-form-author > label,
      #respond > form .comment-form-author > input,
      #respond > form .comment-form-email > label,
      #respond > form .comment-form-email > input,
      #respond > form .comment-form-url > label,
      #respond > form .comment-form-url > input {
        width: 100%;
        width: calc(100% - 8px);
        padding: 2px;
        border-width: 2px; }

.commentlist {
  border: 1px solid #e9e8e6;
  background: #faf9f7;
  list-style: none; }
  .commentlist li,
  .commentlist ol {
    list-style: none; }
  .commentlist .comment {
    margin: 1em 0; }
    .commentlist .comment > .comment-body {
      padding-right: 1em; }
      .commentlist .comment > .comment-body > .comment-author > img {
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        border-radius: 50%; }
      .commentlist .comment > .comment-body > .comment-awaiting-moderation {
        float: right; }

#footer {
  padding: 0.1em 0;
  background-color: #e9e8e6;
  text-align: center; }

@media screen and (max-width: 1575px) {
  body {
    margin: 5em 15em; } }
@media screen and (max-width: 1415px) {
  body {
    margin: 5em 10em; } }
@media screen and (max-width: 1255px) {
  body {
    margin: 5em; } }
@media screen and (max-width: 1095px) {
  body {
    margin: 5em; } }
@media screen and (max-width: 935px) {
  body {
    margin: 3em; } }

/*# sourceMappingURL=base.css.map */
